@{
    ViewBag.Title = "Time Interval in Seconds";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Enter a time interval and click GO to launch the application.</p>
    <div class="row">
        <div class="col-md-6">
            <input id="timeInterval" type="number" class="form-control input-lg interval-input" placeholder="0" autofocus />
        </div>
        <div class="col-md-6 text-right">
            <button id="btnGo" type="button" class="btn btn-primary btn-lg">GO</button>
        </div>
    </div>
</div>
